<!-- hier ist die antwort -->

{% extends "base.html" %}
{% block content %}

<div class="container">
        <div id="titel">
            <h1 >Hier ist eine Liste von Hunden, welche am besten zu dir passen</h1>
            <hr>
        </div>
         <div id="fragen">
            <section>
                <h3>Bitte beachte, dass die Hunde, anhand deiner Angaben, der Reihe nach sortiert wurden.<br>
                Die blaue Zahl auf der Rechten Seite zeigt dir, wie viele Übereinstimmungen du mit dieser Hunderasse hast.
                </h3>

                <!-- Hier ist der Button mit der Funktion '/delete'. Mit dieser werden die Antworten gelöscht und der Konfigurator neu gestartet -->
                
                <a href="/delete" class="btn btn-secondary" onclick="window.location.href='{{ url_for( 'frage1' ) }}';">Neu konfigurieren</a>

                    <ul class="list-group">

                        <!-- hier iteriere ich durch die geordnete_rangordnung und die anzahl_uebereinstimmungen um die Hunde in der richtigen Reihenfolge und die anzahl Übereinstimmungen hervorzuholen -->

                        {%- for hund, anzahl in zip(geordnete_rangordnung, anzahl_uebereinstimmungen) -%}

                        <!-- hier präsentiere ich die Hunde in der richtigen Reihenfolge -->

                            <li class="list-group-item d-flex justify-content-between align-items-center">{{ hund }}

                        <!-- hier präsentiere ich die Anzahl übereinstimmungen mit dem jeweiligen Hund -->

                            <span class="badge badge-primary badge-pill">{{ anzahl }}</span>
                            </li>

                        <!-- hier endet das iterieren -->

                        {% endfor %}
                    </ul>
            </section>
         </div>
    </div>
</div>


{% endblock %}