{% extends "base.html" %}
{% block content %}

    <div class="container" >
        <h1 class="display-3 mt-5"></h1>
            <h1>Finde jetzt deinen perfekten Hund!</h1>
            <h3>Welches Fell gefällt dir am besten?</h3>
            <form method="Post">
                <input type="submit" name="frage2" value="A">Kurz</input><br>
                <input type="submit" name="frage2" value="B">Mittel</input><br>
                <input type="submit" name="frage2" value="C">Lang</input><br>
            </form>
        <button type="button" onclick="window.location.href='{{ url_for( 'frage3' ) }}';">Nächste Frage</button>
    </div>

{% endblock %}