{% extends "base.html" %}
{% block content %}

 <div class="container">
        <div id="titel">
            <h1 >Finde jetzt deinen perfekten Hund!</h1>
            <hr>
        </div>
     <div id="fragen">
            <section>
                <h3>Welche Grösse sollte dein Hund haben?</h3>
                <form method="Post">
                         <input type="submit" name="frage1" value="A">Klein</input><br>
                         <input type="submit" name="frage1" value="B">Mittel</input><br>
                         <input type="submit" name="frage1" value="C">Gross</input><br>
                    <div class="form-row">
                            <button type="button" onclick="window.location.href='{{ url_for( 'frage2' ) }}';">Nächste Frage</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
 </div>

{% endblock %}
