{% extends "base.html" %}
{% block content %}

    <div class="container" >
        <h1 class="display-3 mt-5"></h1>
            <h1>Finde jetzt deinen perfekten Hund!</h1>
            <h3>Leben Kinder im Haushalt und sollte der Hund daher familienfreundlich sein?</h3>
            <form method="Post">
                <input type="submit" name="frage6" value="A">Ja</input><br>
                <input type="submit" name="frage6" value="B">Nein</input><br>
            </form>
        <button type="button" onclick="window.location.href='{{ url_for( 'antwort' ) }}';">Nächste Frage</button>
    </div>

{% endblock %}