{% extends "base.html" %}
{% block content %}

    <div class="container" >
        <h1 class="display-3 mt-5"></h1>
            <h1>Finde jetzt deinen perfekten Hund!</h1>
            <h3>Wie viel Zeit möchtest du pro Woche für die Pflege des Hundes auswenden?</h3>
            <form method="Post">
                <input type="radio" name="frage4" value="1">1 Stunde</input><br>
                <input type="radio" name="frage4" value="2">2 Stunden</input><br>
                <input type="radio" name="frage4" value="3">3 Stunden</input><br>
                <input type="radio" name="frage4" value="4">4 Stunden</input><br>
                <input type="submit" name="frage_einlesen">
            </form>
        <button type="button" onclick="window.location.href='{{ url_for( 'frage5' ) }}';">Nächste Frage</button>
    </div>

{% endblock %}