<!-- hier ist die Frage 2 -->

<!-- hier verlinke ich zum base-dokument -->
{% extends "base.html" %}

<!-- hier erstelle ich den Inhalt, welcher präsentiert werden soll -->
{% block content %}

<div class="container">
        <div id="titel">
            <h1 >Finde jetzt deinen perfekten Hund!</h1>
            <hr>
        </div>
         <div id="fragen">
            <section>
                <h3>Welches Fell gefällt dir am besten?</h3>
                <form method="Post">
                    <div class="row">
                        <div class="card" style="width: 20rem;">
                            <div class="card-header">
                                <h4 class="card-title">Kurzes Fell</h4>
                            </div>
                            <div class="box" style="width: 100%; height: 200px;">

                                <!-- hier lade ich das Bild zum kurzen Fell hoch -->

                                <img src="{{ url_for('static', filename = 'images/rhodesian-ridgeback-678x381.jpg') }}" style="width: 100%; height: 100%;">
                            </div>
                          <div class="card-body">

                              <!-- Hier erstelle ich einen submit button, welchem ich den value "A" gebe. Dieser Value wird dann abgespeichert und mit den Hunden auf Übereinstimmungen überprüft -->

                            <input type="submit" class="btn btn-primary btn-lg btn-block" name="frage2" value="A"></input>
                          </div>
                        </div>
                        <div class="card" style="width: 20rem;">
                            <div class="card-header">
                                <h4 class="card-title">Mittleres Fell</h4>
                            </div>
                            <div class="box" style="width: 100%; height: 200px;">

                                <!-- hier lade ich das Bild zum mittleren Fell hoch -->

                                <img src="{{ url_for('static', filename = 'images/golden.jpg') }}" style="width: 100%; height: 100%;">
                            </div>
                          <div class="card-body">

                              <!-- Hier erstelle ich einen submit button, welchem ich den value "B" gebe. Dieser Value wird dann abgespeichert und mit den Hunden auf Übereinstimmungen überprüft -->

                            <input type="submit" class="btn btn-primary btn-lg btn-block" name="frage2" value="B"></input>
                          </div>
                        </div>
                        <div class="card" style="width: 20rem;">
                            <div class="card-header">
                                <h4>Langes Fell</h4>
                            </div>
                            <div class="box" style="width: 100%; height: 200px;">

                                <!-- hier lade ich das Bild zum langen Fell hoch -->

                                <img src="{{ url_for('static', filename = 'images/John-Haslam-bearded.jpg') }}" style="width: 100%; height: 100%;">
                            </div>
                          <div class="card-body">

                              <!-- Hier erstelle ich einen submit button, welchem ich den value "C" gebe. Dieser Value wird dann abgespeichert und mit den Hunden auf Übereinstimmungen überprüft -->

                            <input type="submit" class="btn btn-primary btn-lg btn-block" name="frage2" value="C"></input>
                          </div>
                        </div>
                    </div>

                    <!-- hier erstelle ich einen Button, welcher zur nächsten Frage weiterleitet -->

                    <button type="button" class="btn btn-success btn-lg btn-block" onclick="window.location.href='{{ url_for( 'frage3' ) }}';">Nächste Frage</button>
                </form>
            </section>
        </div>
    </div>

<!-- hier endet der Inhalt -->
{% endblock %}