{% extends "base.html" %}
{% block content %}


  <div class="container">
        <div id="titel">
            <h1 >Finde jetzt deinen perfekten Hund!</h1>
            <hr>
        </div>
     <div id="fragen">
            <section>
                <h3>Wie viel Zeit möchtest du pro Woche für die Pflege des Hundes auswenden?</h3>
                <form method="Post">
                    <div class="box">
                        <input type="submit" class="btn btn-primary" name="frage4" value="A"><font size="5">1 Stunde</font></input><br>
                        <input type="submit" class="btn btn-primary" name="frage4" value="B"><font size="5">2 Stunde</font></input><br>
                        <input type="submit" class="btn btn-primary" name="frage4" value="C"><font size="5">3 Stunde</font></input><br>
                        <input type="submit" class="btn btn-primary" name="frage4" value="D"><font size="5">4 Stunde</font></input><br>
                    </div>
                </form>
            </section>
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="window.location.href='{{ url_for( 'frage5' ) }}';">Nächste Frage</button>
    </div>

{% endblock %}
