<!-- hier ist die Frage 6 -->

<!-- hier verlinke ich zum base-dokument -->
{% extends "base.html" %}

<!-- hier erstelle ich den Inhalt, welcher präsentiert werden soll -->
{% block content %}

 <div class="container">
        <div id="titel">
            <h1 >Finde jetzt deinen perfekten Hund!</h1>
            <hr>
        </div>
     <div id="fragen">
            <section>
                <h3>Leben Kinder im Haushalt und sollte der Hund daher familienfreundlich sein?</h3>
                <form method="Post">
                    <div class="row">
                        <div class="card" style="width: 20rem;">
                            <div class="card-header">
                                <h4 class="card-title">Ja</h4>
                            </div>
                            <div class="box" style="width: 100%; height: 200px;">

                                <!-- hier lade ich das Bild zum kinderfreundlich hoch -->

                                <img src="{{ url_for('static', filename = 'images/Hund-und-kinder.jpg') }}" style="width: 100%; height: 100%;">
                            </div>
                          <div class="card-body">

                              <!-- Hier erstelle ich einen submit button, welchem ich den value "A" gebe. Dieser Value wird dann abgespeichert und mit den Hunden auf Übereinstimmungen überprüft -->

                            <input type="submit" class="btn btn-primary btn-lg btn-block" name="frage6" value="A"></input>
                          </div>
                        </div>
                        <div class="card" style="width: 20rem;">
                            <div class="card-header">
                                <h4 class="card-title">Nein</h4>
                            </div>
                            <div class="box" style="width: 100%; height: 200px;">

                                <!-- hier lade ich das Bild zum nicht kinderfreundlich hoch -->

                                <img src="{{ url_for('static', filename = 'images/Startbild_Hund relaxt am Strand_facebook.jpg') }}" style="width: 100%; height: 100%;">
                            </div>
                          <div class="card-body">

                              <!-- Hier erstelle ich einen submit button, welchem ich den value "B" gebe. Dieser Value wird dann abgespeichert und mit den Hunden auf Übereinstimmungen überprüft -->

                            <input type="submit" class="btn btn-primary btn-lg btn-block" name="frage6" value="B"></input>
                          </div>
                        </div>
                    </div>

                    <!-- hier erstelle ich einen Button, welcher zur nächsten Frage weiterleitet -->

                    <button type="button" class="btn btn-success btn-lg btn-block" onclick="window.location.href='{{ url_for( 'antwort' ) }}';">Zur Auswertung</button>
                </form>
            </section>
        </div>
    </div>
 </div>

<!-- hier endet der Inhalt -->
{% endblock %}