<!-- Hier ist die Startseite des Programmes. Dieses wurde ausserhalb des base.html erstellt, da ich hier eine andere Darstellung sowie ein anderes Hintergrundbild wollte -->

<!DOCTYPE html>
<html>
<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--- Eigenes css --->
    <link rel="stylesheet" href="{{ url_for('static', filename='main1.css') }}">

    <title>Hunde Konfigurator</title>

</head>

<!-- hier importiere ich das Hintergrundbild -->

<body background="{{ url_for('static', filename = 'images/hundegruppe.jpg') }}" style="color:white">
    <div class="container">
            <h1 class="display-3 mt-5">Willkommen bei deinem persönlichen Hunde Konfigurator!</h1>
            <p>Finde jetzt deinen perfekten Hund!</p>

        <!-- hier ist der Button zur nächsten Seite -->

            <p><a class="btn btn-success btn-lg" role="button" href="{{ url_for('frage1') }}"> Jetzt suchen &raquo;</a></p>
    </div>
</body>
</html>
